
services:
  alloy:
    image: grafana/alloy:latest
    container_name: alloy
    volumes:
      - ./config:/etc/alloy
      - /opt/ervijay/backend/src/log/:/var/log/backend
    ports:
      - "12345:12345"
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - --storage.path=/var/lib/alloy/data
      - /etc/alloy/config.alloy

  prometheus:
    image: prom/prometheus:v2.52.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  loki:
    image: grafana/loki:3.5.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
    command: -config.file=/etc/loki/loki-config.yaml
    restart: unless-stopped

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
      - ~/macos.log:/host_home/macos.log
    command: -config.file=/etc/promtail/promtail-config.yaml
    restart: unless-stopped


  tempo:
    image: grafana/tempo:2.8.0
    container_name: tempo
    ports:
      - "3200:3200"
    volumes:
      - ./tempo-local.yaml:/etc/tempo-local.yaml
    command: -config.file=/etc/tempo-local.yaml
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "admin" # Change this!
    volumes:
      - grafana-storage:/var/lib/grafana
    restart: unless-stopped

volumes:
  grafana-storage:
